#vss {
  padding: 5px 0;
  font-size: 16px;
  margin: 0 0 10px;
}

@media screen and (min-width: 768px) {
  #vss {
    position: fixed;
    top: 47px;
    right: 0;
    left: 0;
    width: 100%;
  }

  #drawing {
    top: 88px;
  }

  #content {
    margin-top: 40px;
  }
}

#vss .wrapper {
  margin-left: 2%;
  width: 96%;
}

#vss .vss-section {
  margin-right: 30px;
  display: inline-block;
}

#vss .vss-section.share img {
  vertical-align: text-top;
  margin: 0 5px;
  cursor: pointer;
}

#vss a {
  color: #000;
  text-decoration: none;
}

#vss a:hover {
  text-decoration: underline
}

#vss select {
  margin: 0 0 0 10px;
  vertical-align: text-bottom;
}

.paulund_modal_box {
  position: absolute;
  left: 30%;
  top: 30%;
  display: none;
  height: 200px;
  width: 500px;
  border:1px solid #fff;
  box-shadow: 0px 2px 7px #292929;
  -moz-box-shadow: 0px 2px 7px #292929;
  -webkit-box-shadow: 0px 2px 7px #292929;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #f2f2f2;
  z-index: 50;
}

.paulund_block_page {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  height: 100%;
  width: 100%;
  z-index: 10;
}

.paulund_inner_modal_box {
  background-color: #fff;
  height: 150px;
  width: 450px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.paulund_inner_modal_box div {
  margin: 20px 0;
}

.paulund_block_page .paulund_modal_close {
  color: #777;
  font: 20px/100% arial, sans-serif;
  position: absolute;
  right: 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.paulund_block_page .paulund_modal_close:after {
  content: '✖';
}
